.Header {
    display: flex;
    justify-content: space-between; 
    align-items: center;
}

.Header button {
    font-size: 30px;
    text-decoration: none;
    border: none;
    color: white;
    background: none;
 /* Add space between the button and the list items */
}

.Header button:hover {
    cursor: pointer;
}
.Header ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.Header ul li {
    padding: 5px;
}
.Header ul li a {
    text-decoration: none;
    font-size: 20px;
    color: white;
}